<!-- Header using ejs -->
<%- include("partials/header"); %>

      <div class="p-5 mb-4  rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Hey! Welcome to nutrition-log</h1>
          <p class="col-md-8 fs-4">Nutrition log is a website that I use for my use. As it's useful having everything related to fitness and everyday needs in just one place. I will be updating everything in here soon stay tuned for the good stuff.
        </p>
          <p class="col-md-8 fs-6">Linkedin <a class="" href="https://www.linkedin.com/in/mridul-shan-127cb/">@click_here</a></p>
          <!-- Sign in  -->
            <br>

            <div class="signin" >
            <form action="/signup" method="post">
            <h2 class="">Sign up here</h2>
                <div class="mb-3">
<!-- <label for="exampleInputEmail1" class="form-label">Email address</label> -->
                  <input name="uFName" type="text" class="input-group input-group-lg " aria-describedby="emailHelp" placeholder="Enter Full Name" autocomplete="none">
                </div>
                <div class="mb-3">
                <div class="mb-3">
<!-- <label for="exampleInputEmail1" class="form-label">Email address</label> -->
                  <input name="uAge" type="text" class="input-group input-group-lg" aria-describedby="emailHelp" placeholder="Enter Age" autocomplete="none">
                </div>
                <div class="mb-3">
<!-- <label for="exampleInputEmail1" class="form-label">Email address</label> -->
                  <input name="uName" type="text" class="input-group input-group-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" autocomplete="none">
                </div>
                <div class="mb-3">
                  <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
                  <input name="uPass" type="password" class="input-group input-group-lg" id="exampleInputPassword1" placeholder="Enter password" autocomplete="none">
                </div>
                <button type="submit" class="btn btnclor">Sign up</button>
              </form>
             </div>
        </div>
      </div>

      <!-- <div class="d-flex gap-5 justify-content-center">
        <div class="list-group mx-0">
          <label class="list-group-item d-flex gap-2  special">
            <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked="">
            <span>
              First checkbox
              <small class="d-block text-muted">With support text underneath to add more detail</small>
            </span>
          </label>
          <label class="list-group-item d-flex gap-2 special">
            <input class="form-check-input flex-shrink-0" type="checkbox" value="">
            <span>
              Second checkbox
              <small class="d-block text-muted">Some other text goes here</small>
            </span>
          </label>
          <label class="list-group-item d-flex gap-2 special">
            <input class="form-check-input flex-shrink-0" type="checkbox" value="">
            <span>
              Third checkbox
              <small class="d-block text-muted">And we end with another snippet of text</small>
            </span>
          </label>
        </div>

        <div class="list-group mx-0">
          <label class="list-group-item d-flex gap-2 special">
            <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="listGroupRadios1" value="" checked="">
            <span>
              First radio
              <small class="d-block text-muted">With support text underneath to add more detail</small>
            </span>
          </label>
          <label class="list-group-item d-flex gap-2 special">
            <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="listGroupRadios2" value="">
            <span>
              Second radio
              <small class="d-block text-muted">Some other text goes here</small>
            </span>
          </label>
          <label class="list-group-item d-flex gap-2 special">
            <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="listGroupRadios3" value="">
            <span>
              Third radio
              <small class="d-block text-muted">And we end with another snippet of text</small>
            </span>
          </label>
        </div>
      </div> -->





<%- include("partials/footer"); %>
